:root {
    --bg-color: #6BB8FF;
}

/* Set position of section links*/
a {
    position: relative;
    left: 40px;
}

div {
    /* Set div font to Montserrat */
    font-family: "Montserrat", sans-serif; /* Fallback font is sans-serif */
    font-weight: 100;
    font-style: normal;

    background-color: var(--bg-color, blue); /* Background color variable with a fallback */

    position: static; /* Set position of div */
}

/* Set font size of page subtitle */
div p {
    font-size: 15pt;
}

/* Set flexbox of attendance section */
.take-attendance {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
}

.new-topics {
    display: grid;
    row-gap: 5px;
    justify-items: left;
    align-items: center;
}

/* Set font size of summary title */
summary {
    font-size: 1.5em;
}

/* Set minimum width of paragraph right after image */
img + p {
    min-width: 1px;
}

/* Set the "submit" button's dimensions */
button.submit {
    width: 150px;
    height: 30px;
}

/* Set the margin of the items of unordered lists */
ul > li {
    margin: auto;
}

/* Style text in and after the "details" section */
details ~ h3 {
    text-decoration: underline;
    text-align: start;
}

/* Adjust font size and video/image dimensions based on screen/viewport size */
@media (max-width: 1100px) {
    * {
        font-size: calc(1.5vw + 1.5vh);
    }

    p {
        margin-right: 10px;
    }

    video, img {
        width: calc(80vw);
    }
}

/* Added background color while hovering over links and "submit" button */
a:hover, .submit:hover {
    background-color: gold;
    transition: background-color 0.5s;
}

/* Added shadow while pressing links and "submit" button */
a:active, .submit:active {
    box-shadow: 1mm 1mm 1mm goldenrod;
}

/* Edit display of legends of the survey which are followed by inputs */
legend:has(+ input) {
    display: block;
}

/* Configure survey container */
fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin: 5px 5px 5px 5px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding: 20px 20px 20px 10px;

    border-width: 2px;
    border-style: solid;
    border-color: pink;
    border-radius: 10px;

    label {
        display: inline-block; /* Edit display of labels in the survey*/
    }
}