:root {
    --bg-color: #6BB8FF
}

div {
    /* Set div font to Montserrat */
    font-family: "Montserrat", sans-serif; /* Fallback font is sans-serif */
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    background-color: var(--bg-color, blue); /* Background color variable with a fallback */
}

/* Adjust font size and video/image dimensions based on screen/viewport size */
@media (max-width: 1100px) {
    * {
        font-size: calc(1.5vw + 1.5vh)
    }

    p {
        margin-right: 10px
    }

    video, img {
        width: calc(80vw)
    }
}

/* Added background color while hovering over links and "submit" button */
a:hover, .submit:hover {
    background-color: gold;
    transition: background-color 0.5s;
}